<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Lecture">
    <insert id="addLectureNote" parameterType="java.util.Map">
        insert into tbl_lecture_note(lct_note_title, lct_desc, member_id) values
        (#{lecTitle},#{lecContents},#{memberId});
    </insert>

    <select id="getLectureNoteList" parameterType="long" resultType="lectureNote">
        select lct_note_id,
               lct_note_title,
               lct_desc,
               lct_note_date,
               lct_progress,
               member_id,
               license_code
        from tbl_lecture_note
        where member_id = #{memberId}
            and license_code = null;
    </select>

    <delete id="removeLectureNote" parameterType="long">
        delete from tbl_lecture_note
        where lct_note_id = #{lct_note_id};
    </delete>

    <insert id="addLicenseToNote" parameterType="java.util.Map">
        insert into ref_tbl_lecture_youtube(lct_note_id, member_id, video_id) values
        (#{lectureNoteId}),
        (#{memberId}),
        (#{videoId});
    </insert>

    <update id="addLicenseSchedule" parameterType="java.util.Map">
        update tbl_lecture_note set license_code = #{licenseCode} where lct_note_id = #{lectureNoteId};
    </update>
</mapper>