<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Video">
    <insert id="saveVideo" parameterType="java.util.Map">
        insert into tbl_youtube(video_id,
                                video_title,
                                video_desc,
                                video_date,
                                video_thumbnail,
                                video_channel_id,
                                video_channel_title,
                                video_playlist_id) values
            (#{video_id}, #{video_title}, #{video_desc}, #{video_date}, #{video_thumbnail}, #{video_channel_id}, #{video_channel_title}, #{video_playlist_id});
    </insert>

    <select id="listPaging" parameterType="java.util.Map" resultType="video">
        select video_id,
               video_title,
               video_desc,
               video_date,
               video_thumbnail,
               video_views,
               video_channel_id,
               video_channel_title,
               video_search_count
        from tbl_youtube
        where video_title like concat('%', #{keyword}, '%')
        order by video_date limit #{offset}, #{videoCount};
    </select>

    <select id="recommendedVideoList" resultType="video">
        select tv.video_id,
               tv.video_title,
               tv.video_desc,
               tv.video_date,
               tv.video_thumbnail,
               tv.video_views,
               tv.video_channel_id,
               tv.video_channel_title,
               tv.video_search_count
        from tbl_recommended_video trv inner join tbl_youtube tv
        on trv.video_id = tv.video_id;
    </select>

    <select id="videoInfo" parameterType="String" resultType="video">
        select video_id,
               video_title,
               video_desc,
               video_date,
               video_thumbnail,
               video_views,
               video_channel_id,
               video_channel_title,
               video_search_count
        from tbl_youtube
        where video_id = #{videoId};
    </select>

    <select id="totalVideos" parameterType="String" resultType="Integer">
        select count(video_id)
        from tbl_youtube
        where video_title like concat('%', #{keyword}, '%');
    </select>

    <update id="increaseVideoSearchCount" parameterType="String">
        update tbl_youtube
        set video_search_count = video_search_count + 1
        where video_id = #{video_id};
    </update>
</mapper>